#texto1_pregunta, #texto2_pregunta, #texto3_pregunta{
	text-align: justify
}

#repuesta_correcta_pregunta{
	display: none;
}

.jquery_header{
	font-size: 1em;
	text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.enlarge{
		font-size: 1.08em;
		text-align: center;
	}
	.ui-btn{
		font-size: 1.02em;
		text-align: center;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.enlarge{
		font-size: 1.8em;
		text-align: center;
	}
	.ui-btn{
		font-size: 1.2em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
	.enlarge{
		font-size: 1.8em;
		text-align: center;
	}
	.ui-btn{
		font-size: 1.2em;
		text-align: center;
	}
}

@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) and (orientation: landscape) {
	.enlarge{
		font-size: 2.2em;
		text-align: center;
	}
	.ui-btn{
		font-size: 2em;
		text-align: center;
	}
}